{% extends "blank.html" %}



<!-- page specific plugin styles -->
{% block styles %}

<!-- end ofpage specific plugin styles -->
{% endblock %}


<!-- -->
{% block navigator%}
<li>
    <a href="#">Patient Notification</a>
</li>
{% endblock %}

<!-- navbar code-->
{% block navbar %}
<ul class="nav nav-list">
    <li class="">
        <a href="{{('index')}}">
            <i class="menu-icon fa fa-dashboard"></i>
            <span class="menu-text"> Dashboard </span>
        </a>
        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="{{('Patientnotification')}}">
            <i class="menu-icon fa fa-user-md"></i>
            <span class="menu-text">Patients Notifications</span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="{{('getdirections')}}">
            <i class="menu-icon fa fa-compass"></i>
            <span class="menu-text"> Get Direction </span>
        </a>
        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="">
            <i class="menu-icon fa fa-anchor"></i>
            <span class="menu-text"> Distance Matrix </span>
        </a>
        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="{{('mapview')}}">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text">Map View</span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="{{('test')}}">
            <i class="menu-icon fa fa-hospital-o"></i>
            <span class="menu-text"> Hospitals </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="{{('patients')}}">
            <i class="menu-icon fa fa-user-md"></i>
            <span class="menu-text">Patients</span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="active open">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-user"></i>

            <span class="menu-text">
                    Manage Users
                    <span class="badge badge-primary">3</span>
            </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="{{('newpatient')}}">
                    <i class="menu-icon fa fa-wheelchair"></i> Patients
                </a>

                <b class="arrow"></b>
            </li>

            <li class="active">
                <a href="{{('newadministrator')}}">
                    <i class="menu-icon fa fa-cogs"></i> Administrators
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="{{('newresponseteam')}}">
                    <i class="menu-icon fa fa-ambulance"></i> Response Team
                </a>

                <b class="arrow"></b>
            </li>

        </ul>
    </li>

    <li class="">
        <a href="{{('ViewIncidents')}}">
            <i class="menu-icon fa fa-book"></i>
            <span class="menu-text">History</span>
        </a>

        <b class="arrow"></b>
    </li>
</ul>
<!-- end navbar code -->
{% endblock %}


<!-- page content code-->
{% block content %}
<div class="widget-box">
    <div class="widget-header widget-header-blue widget-header-flat">
        <h4 class="widget-title lighter">Administrators Registration</h4>
    </div>

    <div class="widget-body">
        <div class="widget-main">
            <div id="fuelux-wizard-container">
                <div class="step-content pos-rel">
                    <div class="step-pane active" data-step="1">
                        <h4 class="lighter block green">Fill in the form below to add an Administrators</h4>

                        <form class="form-horizontal" method="post">
                            {{ form.hidden_tag() }}
                            <fieldset>
                                <div class="form-group has-info">
                                    <label for="inputInfo" class="col-xs-12 col-sm-3 control-label no-padding-right">Name:</label>

                                    <div class="col-xs-12 col-sm-5">
                                        <span class="block input-icon input-icon-right">
                                        {{ form.name(size=51, placeholder ="name")}}
                                            <i class="ace-icon fa fa-info-circle"></i>
                                    </span>
                                    </div>
                                </div>

                                <div class="form-group has-info">
                                    <label for="inputInfo" class="col-xs-12 col-sm-3 control-label no-padding-right">Surname:</label>

                                    <div class="col-xs-12 col-sm-5">
                                        <span class="block input-icon input-icon-right">
                                        {{ form.surname(size=51, placeholder ="surname")}}
                                                <i class="ace-icon fa fa-info-circle"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group has-info">
                                    <label for="inputInfo" class="col-xs-12 col-sm-3 control-label no-padding-right">Employee ID:</label>

                                    <div class="col-xs-12 col-sm-5">
                                        <span class="block input-icon input-icon-right">
                                        {{ form.employee_id(size=51, placeholder ="Employee ID")}}
                                                    <i class="ace-icon fa fa-hashtag"></i>
                                            </span>
                                    </div>
                                </div>

                                <div class="form-group has-info">
                                    <label for="inputInfo" class="col-xs-12 col-sm-3 control-label no-padding-right">Username:</label>

                                    <div class="col-xs-12 col-sm-5">
                                        <span class="block input-icon input-icon-right">
                                        {{ form.username(size=51, placeholder ="username")}}
                                                <i class="ace-icon fa fa-user"></i>
                                    </span>
                                    </div>
                                </div>

                                <div class="form-group has-info">
                                    <label for="inputInfo" class="col-xs-12 col-sm-3 control-label no-padding-right">Email:</label>

                                    <div class="col-xs-12 col-sm-5">
                                        <span class="block input-icon input-icon-right">
                                        {{ form.email(size=51, placeholder ="usernname@example.com")}}
                                                <i class="ace-icon fa fa-globe"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group has-info">
                                    <label for="inputInfo" class="col-xs-12 col-sm-3 control-label no-padding-right">Password:</label>

                                    <div class="col-xs-12 col-sm-5">
                                        <span class="block input-icon input-icon-right">
                                        {{ form.password(size=51, placeholder ="password")}}
                                                <i class="ace-icon fa fa-lock"></i>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group has-info">
                                    <label for="inputInfo" class="col-xs-12 col-sm-3 control-label no-padding-right">Repeat Password:</label>

                                    <div class="col-xs-12 col-sm-5">
                                        <span class="block input-icon input-icon-right">
                                        {{form.password2(size=51, placeholder ="password")}}
                                                <i class="ace-icon fa fa-retweet"></i>
                                        </span>
                                    </div>
                                </div>
                                <hr />
                                <div class="clearfix">
                                    <button type="submit" class="width-35 align-center btn-rounded btn-sm btn-primary">
                                            <span class="bigger-110">Register</span>
                                            <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.widget-main -->
    </div>
    <!-- /.widget-body -->
</div>
<div class="space-10"></div>
<div class="hr hr2 hr-double"></div>
<div class="space-10"></div>
<div class="table-header">
    Table showing list of users
</div>

<div>
    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Username</th>
                <th class="hidden-480">Email</th>
                <th class="hidden-480">Date Registered</th>

            </tr>
        </thead>

        <tbody>
            {% for user in users %}
            <tr>
                <td>
                    <a href="#" data-toggle="modal" data-target="#myModal">{{user.employee_id }}</a>
                </td>

                <td>
                    <a href="#">{{user.name }}</a>
                </td>

                <td>{{user.surname }}</td>

                <td>
                    {{user.username}}
                </td>
                <td>{{user.email}}</td>
                <td>{{user.registered_on.strftime("%Y-%m-%d | %H:%M")}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
<!-- PAGE CONTENT ENDS -->


<!-- page specific plugin scripts -->
{% block javascript %}
<script src="{{ url_for('static', filename='assets/js/wizard.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.validate.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery-additional-methods.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/bootbox.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.maskedinput.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/select2.min.js')}}"></script>
<script src="{{ url_for('static', filename='assets/js/moment.js')}}"></script>

<!-- page javascripts end -->
{% endblock %}